

# Start ignoring things
*.sublime-workspace

/settings/Backups
/settings/Cache
/settings/CachedData
/settings/Cookies
/settings/-journal
/settings/Cookies-journal
/settings/User/globalStorage
/settings/User/projects.json
/settings/GPUCache
/settings/Local Storage
/settings/Preferences
/settings/storage.json

/settings/logs/**
/settings/machineid
/settings/User/workspaceStorage/**

/extensions/ms-vsliveshare.vsliveshare**

