


# Start ignoring things
*.sublime-workspace

extensions

settings/Backups
settings/Cache
settings/CachedData
settings/Cookies
settings/-journal
settings/Cookies-journal
settings/User/projects.json
settings/GPUCache
settings/Local Storage
settings/Preferences
settings/storage.json

